/*Menu styles - Kozlovskyi Kyrylo*/
/*Imports google fonts for general use*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

/*Adds shadow for pictures from menu paage*/
.image_shadow {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/*Sets maximum size of an image from menu page*/
.img-fluid {
	max-width: 80%;
	height: auto;
}

/*Styles page dividers*/
.dividers {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
}

/*Font for general use*/
.description_font {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
}

/*Styles for the dish contents description*/
.tooltip-inner {
	background-color: #6C757D;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
}

/*Changes buttons style*/
.btn-outline-secondary {
	border-radius: 0px;
}

/*Button group width*/
.btn-group {
	width: 65px;
}

/*Sets custom input box styles*/
.input_box_style {
	border-radius: 0px;
	text-align: center;
	border-color: #6C757D;
}

/*Overwrites input box styles on focus/active events*/
.input_box_style:focus,
.input_box_style:active {
	box-shadow: none !important;
	outline: 0px !important;
	border-color: #6C757D;
}

/*Makes number input box arrows visible all the time*/
input[type=number]::-webkit-inner-spin-button {
	opacity: 1;
}
